attrs==23.2.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
coloredlogs==15.0.1
cryptography==42.0.5
environ-config==23.2.0
humanfriendly==10.0
idna==3.6
jwcrypto==1.5.4
markdown-it-py==3.0.0
mdurl==0.1.2
pycparser==2.22
Pygments==2.17.2
requests==2.31.0
rich==13.7.0
sh==2.0.6
typing_extensions==4.10.0
urllib3==2.2.1